


#start-screen {
        background-color: var(--bg-color-gray);
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
}

#start-screen h1 {
    font-size: 70px;
}

.start-screen-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    gap: 5rem;
}

.text-photo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;

}

.start-screen-des  {
    max-width: 50rem;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    color: var(--bg-footer);
}

.auto-typing {
    display: flex;
    flex-direction: row;
}


.sauto-typing p {
    margin-right: 10px;
}

.start-screen-des p:nth-child(2) {
    color: var(--start-page-welcome);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6;
    
}

.start-screen-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-screen-skills {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}


.start-screen-photo {
    background-image: url(/src/img/selfie.png);
    /* background-image: url(/src/img/selfie2.jpeg); */
    width: 20rem;
    height: 20rem;
    min-width: 18rem;
    background-position: 50%;
    background-size: cover;
    border: 3px solid var(--bg-footer);
    border-radius: 71% 29% 61% 39% / 47% 49% 51% 53%;
    animation:  BrAnimation 8s ease-in-out infinite;
}



@keyframes BrAnimation {
    0% {
        border-radius: 71% 29% 61% 39% / 47% 49% 51% 53%;
    }


    50% {
        border-radius:  29% 71% 38% 62% / 33% 31% 69% 67%
    }

    to {
        border-radius: 71% 29% 61% 39% / 47% 49% 51% 53%;
    }
}

.start-screen-skills {
    width: 100%;
    gap: 4rem;
}
.start-screen-skills p  {
    font-size: 1.3rem;
    font-weight: 600;
    border-right: 3px solid black;
    padding-right: 1.5rem;
}

.skill-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    cursor: pointer;
    list-style: none;
}

.skill {
    padding: 2rem;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    position: relative;
}

.skill svg {
    position: absolute;
    transform: translate(-50%, -50%);
}


/* change checkpoint */

@media (max-width: 900px) {

}


