.works-screen {
  background-color: var(--bg-main-works);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.image-cards {
  position: relative;
}


.big-card-first, .big-card-second, .big-card-third, .big-card-fourth {
  position: absolute;
  aspect-ratio: 5 / 8;
  width: 250px;
  transition: transform 0.5s ease-in-out;
  box-shadow: 2px;
}

.big-card-first {
  transform: translate(-50%, 50%) rotate(-10deg);
}

.big-card-second {
  transform: translate(-50%, 50%) rotate(-4deg);
}

.big-card-third {
  transform: translate(-55%, 53%) translateY(-2%) translateX(11%);
}

.big-card-fourth {
  transform: translate(-40%, 50%) rotate(1deg);
}

/*? transformation */

.image-cards:hover .big-card-first {
  transform: translate(-80%, 60%) translate(-60px, -70px) rotate(-20deg);
}
.image-cards:hover .big-card-second {
  transform: translate(-50%, 50%) translate(-40px, -50px) rotate(-10deg);
}
.image-cards:hover .big-card-third {
  transform: translate(-50%, 60%) translate(60px, -70px) rotate(10deg);
}
.image-cards:hover .big-card-fourth {
  transform: translate(-10%, 60%) translate(50px, -30px) rotate(25deg);
}


/* Small cards */

.small-card-first, .small-card-second, .small-card-third, .small-card-fourth {
  position: absolute;
  width: 70px;
  transition: transform 0.5s ease-in-out;
  box-shadow: 2px;
  transform: translate(-50%, 600%)
}

/* .small-card-first {
  transform: translate(-50%, 600%) translate(-250px, -300px) rotate(15deg);
}
.small-card-second {
  transform: translate(-50%, 600%) translate(-200px, 150px) rotate(-10deg);
}
.small-card-third {
  transform: translate(-50%, 600%) translate(270px, -270px) rotate(-20deg);
}
.small-card-fourth {
  transform: translate(-50%, 600%) translate(210px, 200px) rotate(10deg);
} */

/* ? small cards hover animation */

.image-cards:hover .small-card-first {
     transform: translate(-50%, 600%) translate(220px, 210px) rotate(10deg);
}
.image-cards:hover .small-card-second {
  transform: translate(-50%, 600%) translate(-200px, 150px) rotate(-10deg);
}
.image-cards:hover .small-card-third {
   transform: translate(-50%, 600%) translate(-250px, -300px) rotate(15deg);
}
.image-cards:hover .small-card-fourth {
  transform: translate(-50%, 600%) translate(270px, -275px) rotate(-20deg);
}

