* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  --bg-color-gray: #f9f9f9;
  --font-focus-color: #2176FF;
  --bg-footer: #2d2e32;
  --footer-font-color:#767676;

  --test-color1: #6A66A3;
  --test-color2: #5603AD;
  --test-color3: #06BA63;
  --test-color3: #EC4E20;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.App {
    width: 100%;
}
